.palettes {
  width: 200px;
  height: 200px;
  position: relative;
}
.palettes::before {
  display: block;

  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(transparent, #000);
}
.color-picker {
  position: absolute;
  top: 0;
  width: 8px;
  height: 8px;
  border: 1px solid;
  box-shadow: 0 0 2px #fff;
  border-radius: 50%;
  will-change: contents;
}
.select-hue input {
  -webkit-appearance: none;
  outline: none;
  height: 20px;
  width: 200px;

  margin: 0;
  background: linear-gradient(
    to right,
    red 0%,
    #ff0 17%,
    lime 33%,
    cyan 50%,
    blue 66%,
    #f0f 83%,
    red 100%
  );
}
.select-hue input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 6px;
  border: 2px solid #fff;
  box-sizing: border-box;
  /* background-color: #fff; */
}
